@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes motion {
    from{}to{
        transform: translateY(-4rem);
    }
}

.fixed-background {
    @apply fixed top-0 left-0 w-full h-full bg-cover bg-center;
    background-image: url('../../public/0181eefa-b348-4a08-83d5-9fa663b27718.jpeg');
    z-index: -1;
  }

  .astronaut{
    animation: motion 3s linear infinite alternate ;
}

@keyframes motion {
    from{}to{
        transform: translateY(-4rem);
    }
}

.nav4{
    @apply relative tracking-[1px]
}

.nav4::before{
    @apply content-[''] bg-spaceCon-tertiary h-[3px] w-[100%] left-0 -bottom-[5px] rounded-xl absolute transition-transform duration-300 origin-right scale-0
}

.nav4:hover::before{
    @apply scale-110 origin-left
}

.nav4::after{
    @apply content-[''] bg-spaceCon-tertiary h-[3px] w-[100%] right-0 -top-[5px] rounded-xl absolute transition-transform duration-300 origin-left scale-0
}

.nav4:hover::after{
    @apply scale-110 origin-right
}


@font-face {
    font-family: "akira_expanded";
    src: url("/fonts/akira_expanded/Akira Expanded Demo.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: "death_star";
    src: url("/fonts/death-star/Death Star.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: "ethnocentric";
    src: url("/fonts/ethnocentric/ethnocentric\ rg.otf");
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: "ethnocentric";
    src: url("/fonts/ethnocentric/ethnocentric\ rg\ it.otf");
    font-weight: normal;
    font-style: italic;
  }
  
@font-face {
    font-family: "lemon_milk";
    src: url("/fonts/lemon_milk/LEMONMILK-Regular.otf");
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: "lemon_milk";
    src: url("/fonts/lemon_milk/LEMONMILK-Light.otf");
    font-weight: 300;
    font-style: normal;
  }
  
@font-face {
    font-family: "lemon_milk";
    src: url("/fonts/lemon_milk/LEMONMILK-Medium.otf");
    font-weight: 500;
    font-style: normal;
  }
  
@font-face {
    font-family: "lemon_milk";
    src: url("/fonts/lemon_milk/LEMONMILK-Bold.otf");
    font-weight: bold;
    font-style: normal;
  }
  
@font-face {
    font-family: "lemon_milk";
    src: url("/fonts/lemon_milk/LEMONMILK-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
  }
  
@font-face {
    font-family: "lemon_milk";
    src: url("/fonts/lemon_milk/LEMONMILK-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
  }
  
@font-face {
    font-family: "lemon_milk";
    src: url("/fonts/lemon_milk/LEMONMILK-MediumItalic.otf");
    font-weight: 500;
    font-style: italic;
  }
  
@font-face {
    font-family: "lemon_milk";
    src: url("/fonts/lemon_milk/LEMONMILK-RegularItalic.otf");
    font-weight: normal;
    font-style: italic;
  }
  
@font-face {
    font-family: "montserrat";
    src: url("/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: italic;
  }
  
@font-face {
    font-family: "montserrat";
    src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
@media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
  /* Add these in your global CSS file */
@keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Tailwind classes for animations */
.animate-slideUp {
    animation: slideUp 0.5s ease-out forwards;
  }
  
.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
